<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeMaster</title>
    <!-- Icono App -->
    <link
      rel="shortcut icon"
      href="../../public/imagenes/iconos/icono-app.png"
    />

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../../public/css/dashboard.css" />

    <!-- Kit FontAwesome -->
    <script
      src="https://kit.fontawesome.com/7d303211a2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Enlaces JavaScript -->
    <script type="module" src="../../public/script/dashboard.js"></script>
  </head>
  <body>
    <main>
      <section class="dashboard">
        <!-- Contenedor para mostrar los usuarios -->
        <article class="panel usuarios">
          <img src="../../public/imagenes/admin/usuarios.jpg" alt="Usuarios" />
          <figcaption>
            <div>
              <div>
                <h3 class="nombre">USUARIOS</h3>
              </div>
            </div>
          </figcaption>
        </article>

        <!-- Contenedor para mostrar los cursos -->
        <article class="panel cursos">
          <img src="../../public/imagenes/admin/cursos.jpg" alt="Cursos" />
          <figcaption>
            <div>
              <div>
                <h3 class="nombre">CURSOS</h3>
              </div>
            </div>
          </figcaption>
        </article>

        <!-- Contenedor para mostrar los comentarios -->
        <article class="panel comentarios">
          <img
            src="../../public/imagenes/admin/comentarios.jpg"
            alt="Comentarios"
          />
          <figcaption>
            <div>
              <div>
                <h3 class="nombre">COMENTARIOS</h3>
              </div>
            </div>
          </figcaption>
        </article>

        <!-- Contenedor para mostrar las lecciones -->
        <article class="panel lecciones">
          <img
            src="../../public/imagenes/admin/lecciones.jpg"
            alt="Lecciones"
          />
          <figcaption>
            <div>
              <div>
                <h3 class="nombre">LECCIONES</h3>
              </div>
            </div>
          </figcaption>
        </article>

        <!-- Contenedor para mostrar las categorias -->
        <article class="panel categorias">
          <img
            src="../../public/imagenes/admin/categorias.jpg"
            alt="Categorías"
          />
          <figcaption>
            <div>
              <div>
                <h3 class="nombre">CATEGORIAS</h3>
              </div>
            </div>
          </figcaption>
        </article>

        <!-- Contenedor para mostrar las suscripciones -->
        <article class="panel suscripciones">
          <img src="../../public/imagenes/admin/subs.jpg" alt="Suscripciones" />
          <figcaption>
            <div>
              <div>
                <h3 class="nombre">SUSCRIPCIONES</h3>
              </div>
            </div>
          </figcaption>
        </article>
      </section>
      <button class="ui-btn">
        <span> Log-Out </span>
      </button>
    </main>
  </body>
</html>
