<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeMaster</title>
    <!-- Icono App -->
    <link
      rel="shortcut icon"
      href="../../public/imagenes/iconos/icono-app.png"
    />

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../../public/css/datos.css" />

    <!-- Kit FontAwesome -->
    <script
      src="https://kit.fontawesome.com/7d303211a2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Enlaces JavaScript -->
    <script type="module" src="../../public/script/datos.js"></script>
  </head>
  <body>
    <table></table>
    <button class="ui-btn">
      <span> Atrás 🔙 </span>
    </button>
  </body>
</html>
