<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeMaster</title>
    <!-- Icono App -->
    <link rel="shortcut icon" href="../public/imagenes/iconos/icono-app.png" />

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../public/css/aboutUs.css" />

    <!-- Kit FontAwesome -->
    <script
      src="https://kit.fontawesome.com/7d303211a2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Enlaces JavaScript -->
    <script type="module" src="../public/script/aboutUs.js"></script>
  </head>
  <body>
    <div class="container-principal">
      <main>
        <h2>¿Por qué elegirnos?</h2>
        <!-- Sección para los testimonios de los usuarios -->
        <section class="container testimony"></section>
      </main>
    </div>
  </body>
</html>
