<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeMaster</title>
    <!-- Icono App -->
    <link rel="shortcut icon" href="../public/imagenes/iconos/icono-app.png" />

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../public/css/curso.css" />

    <!-- Kit FontAwesome -->
    <script
      src="https://kit.fontawesome.com/7d303211a2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Enlaces JavaScript -->
    <script type="module" src="../public/script/curso.js"></script>
  </head>
  <body>
    <div class="container-principal">
      <main>
        <!-- Espacio para el título de la lección -->
        <!-- <h1>Titulo Lección</h1> -->

        <!-- Contenedor donde se mostrará toda la información perteniente al curso seleccionado -->
        <article class="contenido"></article>

        <!-- Contenedor para los recursos de la lección, ya sean vídeos, imágenes, pdf, ... -->
        <article class="recursos__leccion"></article>

        <!-- Contenedor para alojar la caja de comentarios y el botón de suscribirse -->
        <article class="acciones__usuario">
          <!-- Contenedor donde se situarán los comentarios del curso seleccionado -->
          <div class="card"></div>

          <!-- Contenedor para el botón de suscripción -->
          <div class="form"></div>
        </article>
      </main>
    </div>
  </body>
</html>
