<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeMaster</title>
    <!-- Icono App -->
    <link rel="shortcut icon" href="../public/imagenes/iconos/icono-app.png" />

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../public/css/estilosLanding.css" />

    <!-- Kit FontAwesome -->
    <script
      src="https://kit.fontawesome.com/7d303211a2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Enlaces JavaScript -->
    <script type="module" src="../public/script/landing-page.js"></script>
  </head>
  <body>
    <!-- Contenedor para la cabecera de la página, incluirá un menú y el titulo de la aplicación -->
    <header></header>

    <!-- Contenedor principal, donde se muestra más información sobre la página -->
    <main>
      <!-- Sección que explica sobre la web -->
      <section class="container about"></section>

      <!-- Sección que muestra al usuario información sobre los cursos -->
      <section class="container knowledge"></section>

      <!-- Sección para los precios de las suscripciones -->
      <section class="container price"></section>
    </main>
  </body>
</html>
