@import url(./reset.css);
@import url(../parciales/cabecera-menu.css);
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@500&family=Montserrat&family=Seymour+One&display=swap");

:root {
  --fuente-texto: "Montserrat", sans-serif;
  --fuente-logo: "M PLUS Code Latin", monospace;
  --fuente-logo-span: "Seymour One", sans-serif;
  --color-principal: #ff4066;
  --color-texto: #332629;
  --color-fondo-caja: #332629a6;
  --color-orange: #f9ab40;
  --color-aguamarina: #76a6b8;
  --color-blue-grotto: #00619c;
  --color-coral: #ff7077;
  --color-gris-claro: #efefef;
  --color-boton-borde: #ff4b2b;
  --color-boton-background: #ff445c;
  --texto-size: 16px;
}

header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: -180px;
  z-index: 3;
}

.logo-menu {
  height: 70px;
  width: 100%;
  background-color: var(--color-fondo-caja);
  border: 3px solid #efefef;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

header .logo-menu .logo {
  color: var(--color-gris-claro);
  font-size: 2.3em;
  margin-left: 20px;
  font-family: var(--fuente-logo);
}

header .logo-menu .logo span {
  display: inline-block;
  font-family: var(--fuente-logo-span);
  font-weight: bold;
}

header .logo-menu .logo span:nth-of-type(1) {
  color: var(--color-principal);
  border-bottom: 5px solid var(--color-orange);
}

header .logo-menu .logo span:nth-of-type(2) {
  color: var(--color-orange);
  border-top: 5px solid var(--color-principal);
}

header .logo-menu nav {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

header .logo-menu nav button {
  border-radius: 20px;
  border: 1px solid var(--color-boton-borde);
  background: var(--color-boton-background);
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 170px;
  transition: transform 80ms ease-in;
}

main {
  margin: 10px auto 10px;
  padding: 0;
  width: 95%;
}

/**********************************/
/* Nuevo estilos para submenús */
/**********************************/

.logo-menu .logo:hover {
  cursor: pointer;
  filter: drop-shadow(15px 8px 15px var(--color-boton-background))
    brightness(0.8);
}

/* Position para colocar de forma absoluta el panel oculto y no desplazar el botón primario */
.item-menu {
  position: relative;
}

/* Color de fondo transparente y un padding superior que se solapa sobre el botón primario. De esta manera estaremos simepre sobre el botón o sobre el panel para que no desaparezca*/
.item-menu .submenu {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  position: absolute;
  top: 0;
}

.item-menu .submenu button {
  background-color: var(--color-blue-grotto);
  border-color: transparent;
  border-radius: 0%;
  border-bottom: 2px solid var(--color-orange);
}

.item-menu .submenu button:hover {
  background-color: var(--color-aguamarina);
}

/* Efectos de botones primer nivel */
header .logo-menu nav button:active {
  transform: scale(0.95);
}

header .logo-menu nav button:focus {
  outline: none;
}

header .logo-menu nav button:hover {
  background-color: var(--color-coral);
}

.item-menu .oculto {
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
}

.item-menu > button:hover + .oculto {
  transform: scaleY(100%);
  transform-origin: bottom;
}

/* Mientras estemos en el panel, éste estará visible */
.item-menu .oculto:hover {
  transform: scaleY(100%);
}

html,
body {
  background-color: var(--color-gris-claro);
  color: var(--color-texto);
  font-family: var(--fuente-texto);
  font-size: var(--texto-size);
  letter-spacing: 1.1px;
}

.container-principal {
  max-width: 1250px;
  min-width: 1150px;
  margin: 30px auto 30px;
  padding: 0;
  width: 95%;
  background-color: #fff;
  border: 2px dotted #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.container-principal button {
  border-radius: 20px;
  border: 1px solid var(--color-boton-borde);
  background-color: var(--color-boton-background);
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 170px;
  transition: transform 80ms ease-in;
}

.container-principal button:active {
  transform: scale(0.95);
}

.container-principal button:focus {
  outline: none;
}

.container-principal button:hover {
  background-color: var(--color-coral);
}

html,
body {
  background-color: var(--color-gris-claro);
  color: var(--color-texto);
  font-family: var(--fuente-texto);
  font-size: var(--texto-size);
  letter-spacing: 1.1px;
}

.container-principal {
  max-width: 1250px;
  min-width: 1150px;
  margin: 30px auto 30px;
  padding: 0;
  width: 95%;
  background-color: #fff;
  border: 2px dotted #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

main {
  /* filter: grayscale(80%) blur(2px); */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 450px));
  gap: 40px;
}

main .portada {
  margin: 0 auto;
}

main .portada img {
  height: 600px;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.usuarios {
  width: 480px;
}

.usuarios .detalle-usuario {
  border: 1.5px dotted var(--color-aguamarina);
  display: flex;
  grid-template-columns: 120px 360px;
  grid-template-rows: 40px repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  height: 180px;
  width: 480px;
  background-image: url("../imagenes/fondotarjeta.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--fuente-texto);
  font-weight: bold;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.usuarios img {
  grid-row: 1 / 6;
  grid-column: 1 / 2;
  justify-self: center;
  /* margin-left: 8px; */
  width: 100px;
  height: 150px;
  border: 1px dotted var(--color-gris-claro);
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.usuarios h4 {
  color: #000;
  font-weight: bold;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 1.1em;
}

.usuarios h4 i {
  color: #000;
  cursor: pointer;
  font-size: 1.7em;
  margin-left: 25px;
  transition: all 80ms ease-in;
}

.usuarios h4 i:active {
  font-size: 1.6em;
}

.usuarios h4 i:hover {
  color: var(--color-coral);
}

.usuarios span b {
  color: var(--color-blue-grotto);
}

.usuarios span:nth-of-type(1) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.usuarios span:nth-of-type(2) {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.usuarios span:nth-of-type(3) {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.usuarios span:nth-of-type(3) {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}
